@model WinnerInfoModel

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="@Model.WinnerTeam.img" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Winner is @Model.WinnerTeam.Name</p>
  </div>
</div>