@model LoginModel

<form asp-controller="Account" asp-action="Login" method="POST">
	<div class="container">
		<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
			<label asp-for="UserName"></label>
			<input class="form-control" asp-for="UserName">
			<span asp-validation-for="UserName" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Password"></label>
			<input  class="form-control" asp-for="Password">
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
	</div>
</form>

